<div class="container">
    <h2>{{card.price}}</h2>
    <div class="row">
    {{#each card.favorit}}
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src={{img}} />
            <span class="card-title">{{name}}</span>
          </div>
          <div class="card-content">
            <p>{{price}}</p>
            <p>{{count}}</p>
          </div>
          <div class="card-action">
            <form action="/products/add" method="post">
                <input type="hidden" name="id" value="{{id}}" >
                <button type="submit">Избранные</button>
            </form>
            <a href="#">корзине</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>